In [1]:
import csv
from datetime import datetime, date
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from random import random
import time

import warnings # current version of seaborn generates a bunch of warnings that we'll ignore
warnings.filterwarnings("ignore")

In [2]:
# Use this to test for captcha block or IP ban
def get_URL(position,location):
    #from torrequest import TorRequest
    """[Build a template url for a dummy call to verify the site isn't returning a captcha]
    Args:
        position ([string]): [job for query]
        location ([string]): [location for query]
    Returns:
        [string]: [formatted url]
    """
    template = 'https://www.indeed.com/jobs?q={}&l={}&fromage=1&sort=date'
                
    position = position.replace(' ', '%20')
    location = location.replace(' ', '+')
    url = template.format(position,location)
    return url


# from torrequest import TorRequest
# tr=TorRequest(password='your_super_secure_password')
position = 'data scientist'
location = 'iowa'
# tr.reset_identity()
response = requests.get(get_URL(position,location))
# This will either return an HTML block for a captcha or of a search result
#response.text

In [3]:
def get_desc_features(job_url):
    response_job_desc = requests.get(job_url)
    soup = BeautifulSoup(response_job_desc.text, 'html.parser')

    
    try:
        salary_and_jType = soup.find('div', id='salaryInfoAndJobType').text.strip()
    except:
        salary_and_jType = None
    if salary_and_jType == None:
        try:
            salary_and_jType = soup.find('div',id="icl-u-xs-block jobsearch-ReqAndQualSection-item--title").text.replace("\n", "").strip()
        except:
            salary_and_jType = None
    #TODO get benefits from its designated section
    
    
    try:
        sal_guide_items = []
        items = soup.find('ul',class_='css-1lyr5hv eu4oa1w0')
        for i in items:
            sal_guide_items.append(i.text)
    except:
        sal_guide_items = None
        
        
    try:
        salfromsection = soup.find('span',class_='icl-u-xs-mr--xs').text
    except:
        salfromsection = None
        
        
    try:
        job_type_items = []
        job_type_from_section = soup.find('div',class_='jobsearch-JobDescriptionSection-sectionItem').next_sibling.children
        for i in job_type_from_section:
            if i.text == 'Job Type':
                continue
            else:
                job_type_items.append(i.text)
    except:
        job_type_items = None
        
    
    try:
        requirements = soup.find(class_="icl-u-xs-block jobsearch-ReqAndQualSection-item--title").text.replace("\n", "").strip()      

    except:
        requirements = None
        
        
    try:
        description = soup.find(id="jobDescriptionText").text.replace('\n', '')
    except:
        description = None
        
        
    # A nifty little workaround for evading detection.
    time.sleep(.3+random()*3)
    #TODO assess h2 tags commonalities to determine if these section descriptions are from Indeed or are at least of only a few variations.
        #you could then distinguish the description into sections and conduct NLP etc each.
    raw_desc_soup = soup
    return salary_and_jType, sal_guide_items, salfromsection, job_type_items, requirements, description, raw_desc_soup

In [4]:
#TODO condense these with lists, particularly fields that have .text.strip()
def get_features(post):
    datapoint_dict = {}

    title = post.find('h2',
              attrs={'class': lambda e: e.startswith('jobTitle') if e else False}).text.replace('new', '')

    company = post.find('span', 'companyName').text.strip()
    try:
        rating = post.find('span', 'ratingNumber').text
    except:
        rating = None

    location = post.find('div', 'companyLocation').text.strip()

    postDate = post.find('span', 'date').text

    extractDate = datetime.today().strftime('%Y-%m-%d')

    summary = post.find('div', 'job-snippet').text.strip().replace('\n', ' ')

    url = 'https://www.indeed.com'+post.get('href')

    try:
        estimated_salary = post.find('span','estimated-salary').text.strip()
    except:
        estimated_salary = None
    try:
        salary = post.find('div','metadata salary-snippet-container').text.strip()
    except:
        salary = None


        
            
    salary_and_jType, sal_guide_items, salfromsection, job_type_items, requirements, description, raw_desc_soup = get_desc_features(url)
    datapoint_dict = {
                        'title':title,
                        'company':company,
                        'rating':rating,
                        'location':location,
                        'salary':salary,
                        'estimated_salary':estimated_salary,
                        'postDate':postDate,
                        'extractDate':extractDate,
                        'summary':summary,
                        'url':url,
                        'salary_and_jType':salary_and_jType,
                        'sal_guide_items':sal_guide_items,
                        'salfromsection':salfromsection,
                        'job_type_items':job_type_items,
                        'requirements':requirements,
                        'description':description,
                        'raw_desc_soup':raw_desc_soup}
    if len(datapoint_dict) > 0:
        return datapoint_dict
    else:
        pass

In [5]:
def main(position, location):
    """[Conducts the web scraping process]
    Args:
        position ([string]): [job position for indeed.com query]
        position ([string]): [job location for indeed.com query]
        
        Returns:
        [csv]: [scraped data]
    """
    data = pd.DataFrame()
    
    # extract the job data
    while True:
        response = requests.get(get_URL(position, location))
        soup = BeautifulSoup(response.text, 'html.parser')
        searchResults = soup.find('div', id='mosaic-provider-jobcards')
        refinedsearchResults = searchResults.find_all('a', attrs={'class': lambda e: e.startswith('tapItem') if e else False})
        

        raw_posts = []
        for post in refinedsearchResults:
            raw_posts.append(post)
        
        n = 0
        for post in raw_posts:
            datapoint = get_features(post)
            data = data.append(datapoint, ignore_index=True)
        # Again, a nifty little workaround for evading detection.
            n+=1
            print(n)
            
        try:
            url = 'https://www.indeed.com' + soup.find('a', {'aria-label': 'Next'}).get('href')
        except:
            break

    name = position.replace(' ','_')
    loc = location.replace(' ','_')
    day = date.today()
    # save the job data
    data.to_csv(f'../app/data/scraped_{name}_{loc}_{day}.csv', index=False)
    return data

In [6]:
position = 'data scientist'
location = 'remote'
data = main(position,location )

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
data

In [ ]:
name = position.replace(' ','_')
loc = location.replace(' ','_')
day = date.today()
data.to_csv(f'../app/data/scraped_{name}_{loc}_{day}.csv', index=False)

## Tor as needed

In [ ]:
# Use this to use tor after activating it in terminal when needed.
import socks
import socket
socks.setdefaultproxy(proxy_type=socks.PROXY_TYPE_SOCKS5, addr="127.0.0.7", port=9050)
#print(tr.get("http://icanhazip.com").text)

### Concatenating Old Data With New

In [ ]:
a = pd.read_csv(f'../app/data/scraped_data_scientist_remote_2022-04-13.csv')
b = pd.read_csv(f'../app/data/scraped_data_scientist_remote_2022-04-14.csv')
c = pd.read_csv(f'../app/data/scraped_data_scientist_remote_2022-04-15.csv')

In [ ]:
#total = pd.read_csv(f'../app/data/total.csv')

z = pd.concat([a,b,c,])
z.to_csv('../app/data/total.csv', index= False)

In [48]:
data = b

In [49]:
data

,company,description,estimated_salary,extractDate,job_type_items,location,postDate,rating,raw_desc_soup,requirements,sal_guide_items,salary,salary_and_jType,salfromsection,summary,title,url
0,EDWARD JONES,"At Edward Jones, we help clients achieve th...",NaN,2022-04-13,NaN,"Remote in Rolla, MO 65409+9 locations",PostedJust posted,3.8,"<!DOCTYPE html>\n\n<html dir=""ltr"" lang=""en"">\...",NaN,NaN,"$106,916 - $182,047 a year","$106,916 - $182,047 a year","$106,916 - $182,047 a year","As part of the Data Management area, you will ...",Machine Learning Engineer,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
1,"Vital Connect, Inc.",Data ScientistVitalConnect is a leader in wear...,Estimated $94.5K – $120K a year,2022-04-13,NaN,Remote,PostedJust posted,NaN,"<!DOCTYPE html>\n\n<html dir=""ltr"" lang=""en"">\...",NaN,"['', 'Not provided by employer', ""$94.5K - $12...",NaN,Full-time,NaN,"Experience in the development, implementation,...",Data Scientist,"https://www.indeed.com/company/Vital-Connect,-..."
2,Updater,Moving is one of the most universally relatabl...,Estimated $112K – $142K a year,2022-04-13,NaN,Remote,PostedJust posted,NaN,"<!DOCTYPE html>\n\n<html dir=""ltr"" lang=""en"">\...",NaN,"['', 'Not provided by employer', ""$112K to $14...",NaN,Full-time,NaN,Bring deep understanding of Updater’s business...,"Lead Data Scientist, Finance",https://www.indeed.com/company/Updater/jobs/Le...
3,Cambium Assessment,"We are Cambium Assessment, a Cambium Learni...",Estimated $53K – $67.2K a year,2022-04-13,NaN,Remote,PostedJust posted,2.0,"<!DOCTYPE html>\n\n<html dir=""ltr"" lang=""en"">\...",NaN,"['', 'Not provided by employer', ""$53K to $67....",NaN,Full-time,NaN,"Integrate data from multiple data sets, analyz...",Data Analyst I,https://www.indeed.com/rc/clk?jk=8b9ad858619ac...
4,Optum,Combine two of the fastest-growing fields on t...,NaN,2022-04-13,NaN,"Remote in Eden Prairie, MN 55346",PostedJust posted,3.4,"<!DOCTYPE html>\n\n<html dir=""ltr"" lang=""en"">\...",NaN,NaN,NaN,Full-time,NaN,"Develop advanced analytics, algorithms and pre...",Senior Data Scientist - Telecommute,https://www.indeed.com/rc/clk?jk=32278338362a8...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,California FAIR Plan Association,Position SummaryThe statistical reporting anal...,Estimated $73K - $92.4K a year,2022-04-13,NaN,"Remote in Los Angeles, CA 90010",PostedJust posted,NaN,"<!DOCTYPE html>\n\n<html dir=""ltr"" lang=""en"">\...",NaN,"['', 'Not provided by employer', ""$73K to $92....",NaN,Full-time,NaN,Ability to understand data information systems...,Statistical Reporting Analyst (Remote),https://www.indeed.com/company/California-FAIR...
116,Optum,Combine two of the fastest-growing fields on t...,NaN,2022-04-13,NaN,"Remote in Eden Prairie, MN 55346+1 location",PostedJust posted,3.4,"<!DOCTYPE html>\n\n<html dir=""ltr"" lang=""en"">\...",NaN,NaN,NaN,Full-time,NaN,"Troubleshoots data integrity issues, analyzes ...",Senior Data Analyst - Telecommute,https://www.indeed.com/rc/clk?jk=b164952160a87...
117,Collins Aerospace,This position is for an established Machine Le...,NaN,2022-04-13,NaN,"Remote in Cedar Rapids, IA+1 location",PostedJust posted,3.6,"<!DOCTYPE html>\n\n<html dir=""ltr"" lang=""en"">\...",NaN,NaN,NaN,Full-time,NaN,"Transforms analytics, models, and other protot...",Machine Learning Engineer (Remote),https://www.indeed.com/rc/clk?jk=ca3746ffdf53f...
118,Manifold AI,"As a machine learning engineer, a large portio...",Estimated $133K - $169K a year,2022-04-13,NaN,"Remote in Boston, MA",PostedJust posted,NaN,"<!DOCTYPE html>\n\n<html dir=""ltr"" lang=""en"">\...",NaN,NaN,NaN,NaN,NaN,"As a machine learning engineer, a large portio...",Machine Learning Engineer,https://www.indeed.com/rc/clk?jk=eb1780fbeea78...
119,SCRUFF,Company Description Etsy is the global marketp...,Estimated $136K - $173K a year,2022-04-13,NaN,"Remote in San Francisco, CA",PostedJust posted,NaN,"<!DOCTYPE html>\n\n<html dir=""ltr"" lang=""en"">\...",NaN,"['', 'Not provided by employer', ""$136K - $173...",NaN,Full-time,NaN,Love to experiment and use data to drive decis...,"Senior Software Engineer II, Front End (Machin...",https://www.indeed.com/rc/clk?jk=0a7e68ec5df20...

In [50]:
#fix old imports

data['extractDate']= pd.to_datetime(data['extractDate'])

def pDate(row):
    from datetime import datetime, date, timedelta

    #days_ago = row['dateposted']
    delta = timedelta(-1)
    try:
        return row['extractDate'] - delta
    except:
        return row

data['extractDate'] = data.apply( lambda row : pDate(row), axis = 1)
data['extractDate'] = data['extractDate'].astype(str)
data

,company,description,estimated_salary,extractDate,job_type_items,location,postDate,rating,raw_desc_soup,requirements,sal_guide_items,salary,salary_and_jType,salfromsection,summary,title,url
0,EDWARD JONES,"At Edward Jones, we help clients achieve th...",NaN,2022-04-14,NaN,"Remote in Rolla, MO 65409+9 locations",PostedJust posted,3.8,"<!DOCTYPE html>\n\n<html dir=""ltr"" lang=""en"">\...",NaN,NaN,"$106,916 - $182,047 a year","$106,916 - $182,047 a year","$106,916 - $182,047 a year","As part of the Data Management area, you will ...",Machine Learning Engineer,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
1,"Vital Connect, Inc.",Data ScientistVitalConnect is a leader in wear...,Estimated $94.5K – $120K a year,2022-04-14,NaN,Remote,PostedJust posted,NaN,"<!DOCTYPE html>\n\n<html dir=""ltr"" lang=""en"">\...",NaN,"['', 'Not provided by employer', ""$94.5K - $12...",NaN,Full-time,NaN,"Experience in the development, implementation,...",Data Scientist,"https://www.indeed.com/company/Vital-Connect,-..."
2,Updater,Moving is one of the most universally relatabl...,Estimated $112K – $142K a year,2022-04-14,NaN,Remote,PostedJust posted,NaN,"<!DOCTYPE html>\n\n<html dir=""ltr"" lang=""en"">\...",NaN,"['', 'Not provided by employer', ""$112K to $14...",NaN,Full-time,NaN,Bring deep understanding of Updater’s business...,"Lead Data Scientist, Finance",https://www.indeed.com/company/Updater/jobs/Le...
3,Cambium Assessment,"We are Cambium Assessment, a Cambium Learni...",Estimated $53K – $67.2K a year,2022-04-14,NaN,Remote,PostedJust posted,2.0,"<!DOCTYPE html>\n\n<html dir=""ltr"" lang=""en"">\...",NaN,"['', 'Not provided by employer', ""$53K to $67....",NaN,Full-time,NaN,"Integrate data from multiple data sets, analyz...",Data Analyst I,https://www.indeed.com/rc/clk?jk=8b9ad858619ac...
4,Optum,Combine two of the fastest-growing fields on t...,NaN,2022-04-14,NaN,"Remote in Eden Prairie, MN 55346",PostedJust posted,3.4,"<!DOCTYPE html>\n\n<html dir=""ltr"" lang=""en"">\...",NaN,NaN,NaN,Full-time,NaN,"Develop advanced analytics, algorithms and pre...",Senior Data Scientist - Telecommute,https://www.indeed.com/rc/clk?jk=32278338362a8...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,California FAIR Plan Association,Position SummaryThe statistical reporting anal...,Estimated $73K - $92.4K a year,2022-04-14,NaN,"Remote in Los Angeles, CA 90010",PostedJust posted,NaN,"<!DOCTYPE html>\n\n<html dir=""ltr"" lang=""en"">\...",NaN,"['', 'Not provided by employer', ""$73K to $92....",NaN,Full-time,NaN,Ability to understand data information systems...,Statistical Reporting Analyst (Remote),https://www.indeed.com/company/California-FAIR...
116,Optum,Combine two of the fastest-growing fields on t...,NaN,2022-04-14,NaN,"Remote in Eden Prairie, MN 55346+1 location",PostedJust posted,3.4,"<!DOCTYPE html>\n\n<html dir=""ltr"" lang=""en"">\...",NaN,NaN,NaN,Full-time,NaN,"Troubleshoots data integrity issues, analyzes ...",Senior Data Analyst - Telecommute,https://www.indeed.com/rc/clk?jk=b164952160a87...
117,Collins Aerospace,This position is for an established Machine Le...,NaN,2022-04-14,NaN,"Remote in Cedar Rapids, IA+1 location",PostedJust posted,3.6,"<!DOCTYPE html>\n\n<html dir=""ltr"" lang=""en"">\...",NaN,NaN,NaN,Full-time,NaN,"Transforms analytics, models, and other protot...",Machine Learning Engineer (Remote),https://www.indeed.com/rc/clk?jk=ca3746ffdf53f...
118,Manifold AI,"As a machine learning engineer, a large portio...",Estimated $133K - $169K a year,2022-04-14,NaN,"Remote in Boston, MA",PostedJust posted,NaN,"<!DOCTYPE html>\n\n<html dir=""ltr"" lang=""en"">\...",NaN,NaN,NaN,NaN,NaN,"As a machine learning engineer, a large portio...",Machine Learning Engineer,https://www.indeed.com/rc/clk?jk=eb1780fbeea78...
119,SCRUFF,Company Description Etsy is the global marketp...,Estimated $136K - $173K a year,2022-04-14,NaN,"Remote in San Francisco, CA",PostedJust posted,NaN,"<!DOCTYPE html>\n\n<html dir=""ltr"" lang=""en"">\...",NaN,"['', 'Not provided by employer', ""$136K - $173...",NaN,Full-time,NaN,Love to experiment and use data to drive decis...,"Senior Software Engineer II, Front End (Machin...",https://www.indeed.com/rc/clk?jk=0a7e68ec5df20...

In [51]:
data.to_csv('../app/data/scraped_data_scientist_remote_2022-04-14.csv', index= False)