In [25]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

In [4]:
data = pd.read_csv(f'../app/data/munged_data.csv')
data.drop(['location','dateposted'],inplace=True,axis=1)

In [6]:
data

,company,rating,job_title,text,salary,state,city
0,online technical services,3.7,data scientist - marketing,"job descriptiondata scientist, marketingsan di...",147500.0,remote,remote
1,west cap,3.5,"data scientist, botguard",human was founded in 2012 in a brooklyn sci-fi...,114144.0,ny,remote in new york
2,maya ai inc.,0.0,data scientist,our maya team is expanding and we are looking ...,130588.0,remote,remote
3,recurrent,0.0,data scientist,what's the opportunity?recurrent is on a missi...,119151.0,wa,remote in seattle
4,fractal.ai,0.0,data scientist,fractal analytics is a strategic ai partner to...,137174.0,ny,remote in new york
...,...,...,...,...,...,...,...
458,home depot / thd,3.7,lead data scientist - blacklocus (remote),the home depot is able to offer virtual employ...,NaN,tx,remote in austin
459,optum,3.4,senior data analyst - telecommute,combine two of the fastest-growing fields on t...,NaN,mn,remote in eden prairie
460,collins aerospace,3.6,machine learning engineer (remote),this position is for an established machine le...,NaN,ia,remote in cedar rapids
461,manifold ai,0.0,machine learning engineer,"as a machine learning engineer, a large portio...",151000.0,ma,remote in boston
462,scruff,0.0,"senior software engineer ii, front end (machin...",company description etsy is the global marketp...,154000.0,ca,remote in san francisco

In [16]:
data[['company','job_title','text']] = data[['company','job_title','text']].astype(str)

In [24]:
cols = ['company', 'rating', 'job_title', 'salary', 'state', 'city']
for i in cols:
    print(i)
    print(data[i].value_counts(),'\n')

company
sparkcognition                      41
optum                               32
west cap                            22
recurrent                           22
maya ai inc.                        22
ford motor company                  22
techtrueup                          22
redfin                              22
online technical services           22
coderpad, inc.                      22
humana                              19
scruff                              18
california fair plan association    18
calculated hire                     17
home depot / thd                    16
updater                             16
opal                                16
cambium assessment                  16
manifold ai                         16
fractal.ai                          12
unitedhealth group                  12
amadeus                              7
comcentric                           6
ibm                                  5
pwc                                  4
edward jones                         4
lumen                                4
insight global                       2
cybercoders                          2
collins aerospace                    2
liberty mutual insurance             1
compugain                            1
Name: company, dtype: int64

rating
0.0    162
3.4     54
3.7     42
4.4     41
3.6     34
3.9     31
3.8     27
3.5     26
4.1     22
2.0     16
4.2      6
4.0      2
Name: rating, dtype: int64

job_title
data scientist                                                     79
senior data analyst                                                22
data scientist, botguard                                           22
data scientist - marketing                                         22
senior data analyst - tour support (remote eligible)               22
geospatial data scientist - remote                                 22
mcs data scientist                                                 22
sr. data scientist                                                 21
data scientist ii                                                  20
machine learning engineer                                          20
data scientist - actuarial valuation                               19
statistical reporting analyst (remote)                             18
lead data scientist - blacklocus (remote)                          16
lead data scientist, finance                                       16
senior data analyst - telecommute                                  16
data analyst i                                                     16
senior data scientist - telecommute                                16
data scientist (remote)                                            16
senior applied scientist ii-personalization platform               14
director machine learning - telecommute                            12
principal data scientist - network planning for airlines            7
data & ai: data governance/data science technical sales spec...     4
sr. lead data scientist (remote with lumen's black lotus lab...     4
senior software engineer ii, front end (machine learning)           4
contract lifecycle management / ai - solution engineer              4
senior staff software engineer - ml/ai                              2
machine learning engineer (remote)                                  2
remote data scientist                                               2
data engineer / data scientist - remote work                        1
director i, data science (stp)                                      1
client engineering data scientist (remote)                          1
Name: job_title, dtype: int64

salary
135571.0    24
127500.0    22
147500.0    22
130588.0    22
109500.0    22
73924.0     18
68829.0     17
132167.0    16
119151.0    16
105000.0    16
114144.0    16
117148.0    15
137174.0    11
121154.0    10
53672.0     10
133169.0     8
127000.0     8
112142.0     8
207500.0     8
151000.0     6
135000.0     6
130165.0     6
362000.0     6
129000.0     6
149000.0     5
132000.0     5
137000.0     4
144481.0     4
154000.0     2
136173.0     2
185000.0     1
112141.0     1
155000.0     1
147000.0     1
Name: salary, dtype: int64

state
remote                 186
tx                      59
ny                      52
mn                      44
ca                      26
mi                      22
wa                      22
ky                      19
ma                      16
+21 locationsremote      6
mo                       4
+1 locationremote        3
ia                       2
dc                       1
pa                       1
Name: state, dtype: int64

city
remote                     186
remote in austin            59
remote in new york          38
remote in eden prairie      32
remote in seattle           22
remote in dearborn          22
remote in los angeles       20
remote in louisville        19
remote in boston            16
remote in brooklyn          14
remote in minnetonka        12
remote in san francisco      6
+21 locationsremote          6
remote in rolla              4
+1 locationremote            3
remote in cedar rapids       2
remote in washington         1
remote in pittsburgh         1
Name: city, dtype: int64

In [33]:
## encoding
cols = ['company','job_title', 'state', 'city']
ohe = OneHotEncoder(sparse=False)
data_x = ohe.fit_transform(data[['company']])

In [43]:
from sklearn.preprocessing import OneHotEncoder

Index(['company', 'rating', 'job_title', 'text', 'salary', 'state', 'city'], dtype='object')

In [103]:
from sklearn.compose import ColumnTransformer
column_trans = ColumnTransformer([('name',OneHotEncoder(sparse=False), [0,2,5,6])])

In [104]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(solver='lbfqs')
from sklearn.model_selection import cross_val_score

In [105]:
column_trans.fit_transform(data.values)

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.]])

In [108]:
print(column_trans.fit_transform(data.values)[8])

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [97]:
x[0]

<1x96 sparse matrix of type '<class 'numpy.float64'>'
	with 4 stored elements in Compressed Sparse Row format>

In [93]:
x[1]

KeyError: 1