In [317]:
import numpy as np
import pandas as pd

In [318]:
data = pd.read_csv(f'../app/data/processed_data.csv')

In [319]:
data.text[0]

"job descriptiondata scientist, marketingsan diego, ca /analytics – data science /full-timeheadquartered in san diego, we serve as a leading provider of working capital ($5k - $1.5m) to the small and medium-sized businesses that fuel our country. since 2008, we have prided ourselves on our collaborative, innovative, and customer-focused approach. enjoying a period of unprecedented growth, driven by the combination of cutting-edge technology, human touch, and unwavering integrity, we are looking to add to our people-first culture, with highly motivated and results-oriented professionals, to push the limits of what's possible while creating value for all of our partners.we are seeking a mid-level to senior level statistician, quantitative modeling specialist, or data scientist to join our analytics team and build predictive models for marketing. if you have exceptional analytical, quantitative and problem-solving skills, demonstrated experience designing and implementing predictive models and analytics in marketing, a proven track record of bringing thought leadership to problems, and the desire to make a rapid impact on the success of the business, this is an opportunity for you.the ideal candidate has an advanced degree in statistics, economics, mathematics or a related field; strong inner motivation to work hard, learn and grow; intellectual curiosity and honesty; attention to detail; and excellent interpersonal skills. this position reports to the svp of analytics.responsibilitiesresearch, devise, test and implement innovative statistical models for marketing and related areas of the business.work independently and in collaboration with others on the team.identify relevant data sources and data sets to deliver insights and analysis for business decision-making.source, cleanse and verify data.work closely with analytics and technology teams to deploy models in production and to monitor and test deployed models.communicate analytics solutions to parties across the business in the form of presentations and other materials.own the accuracy and precision of all work.required qualificationsb.a. or above in statistics, economics, applied mathematics, or related discipline (master’s or above preferred).2-5 years of experience in model design and implementation in marketing for fintech or related industry.independence and thought leadership in problem solving; demonstrated ability to own a problem from initial data analysis to model research, development, testing and operationalization.strong understanding of and experience with marketing data flows and methods for audience segmentation, customer lifetime value, and attribution.fluency with statistical modeling and machine learning methods.fluency with sql and python.fluency with descriptive data analysis and presentation.strong attention to detail and organizational skills.intellectual curiosity and creativity.strong written and verbal communication skills.we offercompetitive compensation package.great medical, vision and dental benefits.health savings account.flexible spending accounts.life and disability insurance.fantastic 401k with matching contribution.sick, vacation, and holidays.gym membership contribution.employee assistance program (eap) – mental health support.online commuter benefits.internal referral program.fun team and company events.start-up culture, within an established business with 13 years of experience.great central location in san diego – easy access from highway.we are an equal opportunity employer (eoe) and takes great pride in building a diverse work environment. qualified applicants are considered for employment without regard to age, race, religion, gender, national origin, sexual orientation, disability or veteran status.job type: full-timepay: $145,000.00 - $150,000.00 per yearbenefits:dental insuranceflexible schedulehealth insurancepaid time offvision insuranceschedule:8 hour shiftday shiftmonday to fridayeducation:master's (preferred)experience:python: 1 year (preferred)sql: 1 year (preferred)data scientists & statisticians: 1 year (preferred)work location: remote identify relevant data sources and data sets to deliver insights and analysis for business decision-making. source, cleanse and verify data."

In [320]:
def cleanPunc(sentence): #function to clean the word of any punctuation or special characters
    cleaned = re.sub(r'[?|!|\'|"|#]',r'',sentence)
    cleaned = re.sub(r'[.|,|)|(|\|/]',r' ',cleaned)
    cleaned = cleaned.strip()
    cleaned = cleaned.replace("\n"," ")
    return cleaned

In [321]:
import re

def clean_text(data):
    sentences = data.split('.')
    clean_sentences = []
    for i in sentences:
        clean_sentence = re.sub(r'[?|!|\'|"|#|/|-|,(|)|$|-|' '|:]',r'',i)
        clean_sentence = re.sub(r'[?|!|\'|"|#|/|-|,(|)|$|(0-9)]',r'',clean_sentence.strip(' '))
        if len(clean_sentence.strip()) > 1:
            clean_sentences.append(clean_sentence)
    done_sent = ''
    for i in clean_sentences:
        done_sent += (' '+i)
    return done_sent.strip()
    

data['cleaned'] = data.text.apply(clean_text)

In [322]:
data.cleaned[0]

'job descriptiondata scientist marketingsan diego ca analytics – data science full-timeheadquartered in san diego we serve as a leading provider of working capital k -  m to the small and medium-sized businesses that fuel our country since  we have prided ourselves on our collaborative innovative and customer-focused approach enjoying a period of unprecedented growth driven by the combination of cutting-edge technology human touch and unwavering integrity we are looking to add to our people-first culture with highly motivated and results-oriented professionals to push the limits of whats possible while creating value for all of our partners we are seeking a mid-level to senior level statistician quantitative modeling specialist or data scientist to join our analytics team and build predictive models for marketing if you have exceptional analytical quantitative and problem-solving skills demonstrated experience designing and implementing predictive models and analytics in marketing a proven track record of bringing thought leadership to problems and the desire to make a rapid impact on the success of the business this is an opportunity for you the ideal candidate has an advanced degree in statistics economics mathematics or a related field; strong inner motivation to work hard learn and grow; intellectual curiosity and honesty; attention to detail; and excellent interpersonal skills this position reports to the svp of analytics responsibilitiesresearch devise test and implement innovative statistical models for marketing and related areas of the business work independently and in collaboration with others on the team identify relevant data sources and data sets to deliver insights and analysis for business decision-making source cleanse and verify data work closely with analytics and technology teams to deploy models in production and to monitor and test deployed models communicate analytics solutions to parties across the business in the form of presentations and other materials own the accuracy and precision of all work required qualificationsb or above in statistics economics applied mathematics or related discipline master’s or above preferred - years of experience in model design and implementation in marketing for fintech or related industry independence and thought leadership in problem solving; demonstrated ability to own a problem from initial data analysis to model research development testing and operationalization strong understanding of and experience with marketing data flows and methods for audience segmentation customer lifetime value and attribution fluency with statistical modeling and machine learning methods fluency with sql and python fluency with descriptive data analysis and presentation strong attention to detail and organizational skills intellectual curiosity and creativity strong written and verbal communication skills we offercompetitive compensation package great medical vision and dental benefits health savings account flexible spending accounts life and disability insurance fantastic k with matching contribution sick vacation and holidays gym membership contribution employee assistance program eap – mental health support online commuter benefits internal referral program fun team and company events start-up culture within an established business with  years of experience great central location in san diego – easy access from highway we are an equal opportunity employer eoe and takes great pride in building a diverse work environment qualified applicants are considered for employment without regard to age race religion gender national origin sexual orientation disability or veteran status job type full-timepay   per yearbenefitsdental insuranceflexible schedulehealth insurancepaid time offvision insuranceschedule hour shiftday shiftmonday to fridayeducationmasters preferredexperiencepython  year preferredsql  year preferreddata scientists & statisticians  year preferredwork location remote identify relevant data sources and data sets to deliver insights and analysis for business decision-making source cleanse and verify data'

In [323]:
import re

def clean_text(data):
    sentences = data.split('.')
    clean_sentences = []
    for i in sentences:
        clean_sentence = re.sub(r'[?|!|\'|"|#|/|-|,(|)|$|-|' '|:]',r'',i)
        clean_sentence = re.sub(r'[?|!|\'|"|#|/|-|,(|)|$|-|' '|:]',r'',clean_sentence)
        clean_sentence = " ".join(re.findall("[(a-zA-Z,&)]+", clean_sentence))
        clean_sentences.append(clean_sentence)
    clean_text = ''
    for i in clean_sentences:
        clean_text += (' '+i)
    return clean_text.strip(' ')

    

data['cleaned'] = data.text.apply(clean_text)

In [324]:
data.cleaned[3]

'whats the opportunityrecurrent is on a mission to get more electric vehicles evs on the road we aim to accelerate the used electric car market by making it more accessible and transparent for millions of vendors and buyers alike road vehicles represent of us greenhouse gas emissions electrifying passenger vehicles in parallel with transitioning our power grid to cleaner energy sources really moves the needle on climate were going to be a critical part of making that shift by building the used ev market and increasing consumer confidence in ev performance as vehicles age were looking for a full stack data scientist who enjoys working across the spectrum from eda to data engineering to modeling to production deployment you will have the opportunity to influence backend infrastructure analytics and modeling approaches and product direction if you love solving problems implementing solutions and are excited about a generalist approach where youll get to work across many areas then wed love to hear from yousigns of a great candidateexperienced you have years of experience building machine learning models and putting them into production collaborative you know that your colleagues perspectives and experience are the foundation of a successful product similarly you help foster good communication and bring your strengths to the table to help us grow and be successful independent curious and resourceful youre excited to hit the ground running you are innately curious able to take on a task you may not have done before and find out how to do it or reach out to someone who can help you learn it pragmatic you can identify a problem come up with a solution and bring it to a state of completion while investing an appropriate amount of time for the business value the solution provides you find ways of eliminating or automating work to help us streamline our operations reliable and disciplined we are a distributed company and you enjoy the benefits of working remotely while delivering what youve committed to when hurdles come up you communicate them early and reset expectations appreciative of honest feedback you view feedback given to you as an opportunity to get better and make an effort to do the same for others this job might be for you if you have experience with   data cleaning and eda we ingest a varied set of data from sources of different quality levels and are regularly adding new sources of information to our data science pipelines you should be comfortable reading summarizing visualizing and efficiently answering questions about data you havent seen before we typically do this type of analysis in jupyterlab or using simple sql queries of our databases machine learning you should be comfortable weighing the pros and cons of different algorithms prototyping and productizing common regression approaches tuning hyperparameters and optimizing model performance in python and scikit learn pipeline engineering we use python docker airflow and the aws ecosystem in our data science stack you should be knowledgeable about cloud based data storage and access patterns and comfortable writing clean production ready code familiarity with spark is a plus bonus do you have experience in any of these areas please tell us about itwork with vehicle diagnostics vehicle apis battery management systems or ev hardware business intelligence bi analysis tools and visualization expertise in advanced outlier detection locationanywhere in the us were a remote first company with colleagues in different states across most us time zones and we want to work with great folks wherever they are benefitsthe benefits package at recurrent is thoughtfully designed to help people lead healthy lives in and outside of work we offer the followingmedical dental and vision are covered for the employee home office reimbursement k no matchingunlimited pto we encourage everyone to take a minimum of weeks per yearall company winter break everyone is off for december th january stwork together weeks several times a year we fly everyone on the team to a single destination and spend a week working in person brainstorming and socializingpaid parental leave & bereavement leavechoice of macbook or pcwe are an equal opportunity employer and highly value diversity at our company we warmly invite applications from people of all walks of life we do not discriminate on the basis of race religion color national origin gender sexual orientation age marital status veteran status or disability status experienced you have years of experience building machine learning models and putting them into production familiarity with spark is a plus'

In [325]:
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords 
stop_words = set(stopwords.words('english')) 

word_tokens = word_tokenize(data.cleaned[0].strip(' '))
my_var = [w for w in word_tokens if (not w in stop_words and len(w) > 1)]
my_var

['job',
 'descriptiondata',
 'scientist',
 'marketingsan',
 'diego',
 'ca',
 'analytics',
 'data',
 'science',
 'full',
 'timeheadquartered',
 'san',
 'diego',
 'serve',
 'leading',
 'provider',
 'working',
 'capital',
 'small',
 'medium',
 'sized',
 'businesses',
 'fuel',
 'country',
 'since',
 'prided',
 'collaborative',
 'innovative',
 'customer',
 'focused',
 'approach',
 'enjoying',
 'period',
 'unprecedented',
 'growth',
 'driven',
 'combination',
 'cutting',
 'edge',
 'technology',
 'human',
 'touch',
 'unwavering',
 'integrity',
 'looking',
 'add',
 'people',
 'first',
 'culture',
 'highly',
 'motivated',
 'results',
 'oriented',
 'professionals',
 'push',
 'limits',
 'whats',
 'possible',
 'creating',
 'value',
 'partners',
 'seeking',
 'mid',
 'level',
 'senior',
 'level',
 'statistician',
 'quantitative',
 'modeling',
 'specialist',
 'data',
 'scientist',
 'join',
 'analytics',
 'team',
 'build',
 'predictive',
 'models',
 'marketing',
 'exceptional',
 'analytical',
 'quantitative',
 'problem',
 'solving',
 'skills',
 'demonstrated',
 'experience',
 'designing',
 'implementing',
 'predictive',
 'models',
 'analytics',
 'marketing',
 'proven',
 'track',
 'record',
 'bringing',
 'thought',
 'leadership',
 'problems',
 'desire',
 'make',
 'rapid',
 'impact',
 'success',
 'business',
 'opportunity',
 'ideal',
 'candidate',
 'advanced',
 'degree',
 'statistics',
 'economics',
 'mathematics',
 'related',
 'field',
 'strong',
 'inner',
 'motivation',
 'work',
 'hard',
 'learn',
 'grow',
 'intellectual',
 'curiosity',
 'honesty',
 'attention',
 'detail',
 'excellent',
 'interpersonal',
 'skills',
 'position',
 'reports',
 'svp',
 'analytics',
 'responsibilitiesresearch',
 'devise',
 'test',
 'implement',
 'innovative',
 'statistical',
 'models',
 'marketing',
 'related',
 'areas',
 'business',
 'work',
 'independently',
 'collaboration',
 'others',
 'team',
 'identify',
 'relevant',
 'data',
 'sources',
 'data',
 'sets',
 'deliver',
 'insights',
 'analysis',
 'business',
 'decision',
 'making',
 'source',
 'cleanse',
 'verify',
 'data',
 'work',
 'closely',
 'analytics',
 'technology',
 'teams',
 'deploy',
 'models',
 'production',
 'monitor',
 'test',
 'deployed',
 'models',
 'communicate',
 'analytics',
 'solutions',
 'parties',
 'across',
 'business',
 'form',
 'presentations',
 'materials',
 'accuracy',
 'precision',
 'work',
 'required',
 'qualificationsb',
 'statistics',
 'economics',
 'applied',
 'mathematics',
 'related',
 'discipline',
 'master',
 'preferred',
 'years',
 'experience',
 'model',
 'design',
 'implementation',
 'marketing',
 'fintech',
 'related',
 'industry',
 'independence',
 'thought',
 'leadership',
 'problem',
 'solving',
 'demonstrated',
 'ability',
 'problem',
 'initial',
 'data',
 'analysis',
 'model',
 'research',
 'development',
 'testing',
 'operationalization',
 'strong',
 'understanding',
 'experience',
 'marketing',
 'data',
 'flows',
 'methods',
 'audience',
 'segmentation',
 'customer',
 'lifetime',
 'value',
 'attribution',
 'fluency',
 'statistical',
 'modeling',
 'machine',
 'learning',
 'methods',
 'fluency',
 'sql',
 'python',
 'fluency',
 'descriptive',
 'data',
 'analysis',
 'presentation',
 'strong',
 'attention',
 'detail',
 'organizational',
 'skills',
 'intellectual',
 'curiosity',
 'creativity',
 'strong',
 'written',
 'verbal',
 'communication',
 'skills',
 'offercompetitive',
 'compensation',
 'package',
 'great',
 'medical',
 'vision',
 'dental',
 'benefits',
 'health',
 'savings',
 'account',
 'flexible',
 'spending',
 'accounts',
 'life',
 'disability',
 'insurance',
 'fantastic',
 'matching',
 'contribution',
 'sick',
 'vacation',
 'holidays',
 'gym',
 'membership',
 'contribution',
 'employee',
 'assistance',
 'program',
 'eap',
 'mental',
 'health',
 'support',
 'online',
 'commuter',
 'benefits',
 'internal',
 'referral',
 'program',
 'fun',
 'team',
 'company',
 'events',
 'start',
 'culture',
 'within',
 'established',
 'business',
 'years',
 'experience',
 'great',
 'central',
 'location',
 'san',
 'diego',
 'easy',
 'access',
 'highway',
 'equal',
 'opportunity',
 'employer',
 'eoe',
 'takes',
 'great',
 'pride',
 'building',
 'diverse',
 'work',
 'environment',
 'qualified',
 'applicants',
 'considered',
 'employment',
 'without',
 'regard',
 'age',
 'race',
 'religion',
 'gender',
 'national',
 'origin',
 'sexual',
 'orientation',
 'disability',
 'veteran',
 'status',
 'job',
 'type',
 'full',
 'timepay',
 'per',
 'yearbenefitsdental',
 'insuranceflexible',
 'schedulehealth',
 'insurancepaid',
 'time',
 'offvision',
 'insuranceschedule',
 'hour',
 'shiftday',
 'shiftmonday',
 'fridayeducationmasters',
 'preferredexperiencepython',
 'year',
 'preferredsql',
 'year',
 'preferreddata',
 'scientists',
 'statisticians',
 'year',
 'preferredwork',
 'location',
 'remote',
 'identify',
 'relevant',
 'data',
 'sources',
 'data',
 'sets',
 'deliver',
 'insights',
 'analysis',
 'business',
 'decision',
 'making',
 'source',
 'cleanse',
 'verify',
 'data']

In [326]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [327]:
lemmatized = [lemmatizer.lemmatize(token) for token in my_var]

In [328]:
lemmatized

['job',
 'descriptiondata',
 'scientist',
 'marketingsan',
 'diego',
 'ca',
 'analytics',
 'data',
 'science',
 'full',
 'timeheadquartered',
 'san',
 'diego',
 'serve',
 'leading',
 'provider',
 'working',
 'capital',
 'small',
 'medium',
 'sized',
 'business',
 'fuel',
 'country',
 'since',
 'prided',
 'collaborative',
 'innovative',
 'customer',
 'focused',
 'approach',
 'enjoying',
 'period',
 'unprecedented',
 'growth',
 'driven',
 'combination',
 'cutting',
 'edge',
 'technology',
 'human',
 'touch',
 'unwavering',
 'integrity',
 'looking',
 'add',
 'people',
 'first',
 'culture',
 'highly',
 'motivated',
 'result',
 'oriented',
 'professional',
 'push',
 'limit',
 'whats',
 'possible',
 'creating',
 'value',
 'partner',
 'seeking',
 'mid',
 'level',
 'senior',
 'level',
 'statistician',
 'quantitative',
 'modeling',
 'specialist',
 'data',
 'scientist',
 'join',
 'analytics',
 'team',
 'build',
 'predictive',
 'model',
 'marketing',
 'exceptional',
 'analytical',
 'quantitative',
 'problem',
 'solving',
 'skill',
 'demonstrated',
 'experience',
 'designing',
 'implementing',
 'predictive',
 'model',
 'analytics',
 'marketing',
 'proven',
 'track',
 'record',
 'bringing',
 'thought',
 'leadership',
 'problem',
 'desire',
 'make',
 'rapid',
 'impact',
 'success',
 'business',
 'opportunity',
 'ideal',
 'candidate',
 'advanced',
 'degree',
 'statistic',
 'economics',
 'mathematics',
 'related',
 'field',
 'strong',
 'inner',
 'motivation',
 'work',
 'hard',
 'learn',
 'grow',
 'intellectual',
 'curiosity',
 'honesty',
 'attention',
 'detail',
 'excellent',
 'interpersonal',
 'skill',
 'position',
 'report',
 'svp',
 'analytics',
 'responsibilitiesresearch',
 'devise',
 'test',
 'implement',
 'innovative',
 'statistical',
 'model',
 'marketing',
 'related',
 'area',
 'business',
 'work',
 'independently',
 'collaboration',
 'others',
 'team',
 'identify',
 'relevant',
 'data',
 'source',
 'data',
 'set',
 'deliver',
 'insight',
 'analysis',
 'business',
 'decision',
 'making',
 'source',
 'cleanse',
 'verify',
 'data',
 'work',
 'closely',
 'analytics',
 'technology',
 'team',
 'deploy',
 'model',
 'production',
 'monitor',
 'test',
 'deployed',
 'model',
 'communicate',
 'analytics',
 'solution',
 'party',
 'across',
 'business',
 'form',
 'presentation',
 'material',
 'accuracy',
 'precision',
 'work',
 'required',
 'qualificationsb',
 'statistic',
 'economics',
 'applied',
 'mathematics',
 'related',
 'discipline',
 'master',
 'preferred',
 'year',
 'experience',
 'model',
 'design',
 'implementation',
 'marketing',
 'fintech',
 'related',
 'industry',
 'independence',
 'thought',
 'leadership',
 'problem',
 'solving',
 'demonstrated',
 'ability',
 'problem',
 'initial',
 'data',
 'analysis',
 'model',
 'research',
 'development',
 'testing',
 'operationalization',
 'strong',
 'understanding',
 'experience',
 'marketing',
 'data',
 'flow',
 'method',
 'audience',
 'segmentation',
 'customer',
 'lifetime',
 'value',
 'attribution',
 'fluency',
 'statistical',
 'modeling',
 'machine',
 'learning',
 'method',
 'fluency',
 'sql',
 'python',
 'fluency',
 'descriptive',
 'data',
 'analysis',
 'presentation',
 'strong',
 'attention',
 'detail',
 'organizational',
 'skill',
 'intellectual',
 'curiosity',
 'creativity',
 'strong',
 'written',
 'verbal',
 'communication',
 'skill',
 'offercompetitive',
 'compensation',
 'package',
 'great',
 'medical',
 'vision',
 'dental',
 'benefit',
 'health',
 'saving',
 'account',
 'flexible',
 'spending',
 'account',
 'life',
 'disability',
 'insurance',
 'fantastic',
 'matching',
 'contribution',
 'sick',
 'vacation',
 'holiday',
 'gym',
 'membership',
 'contribution',
 'employee',
 'assistance',
 'program',
 'eap',
 'mental',
 'health',
 'support',
 'online',
 'commuter',
 'benefit',
 'internal',
 'referral',
 'program',
 'fun',
 'team',
 'company',
 'event',
 'start',
 'culture',
 'within',
 'established',
 'business',
 'year',
 'experience',
 'great',
 'central',
 'location',
 'san',
 'diego',
 'easy',
 'access',
 'highway',
 'equal',
 'opportunity',
 'employer',
 'eoe',
 'take',
 'great',
 'pride',
 'building',
 'diverse',
 'work',
 'environment',
 'qualified',
 'applicant',
 'considered',
 'employment',
 'without',
 'regard',
 'age',
 'race',
 'religion',
 'gender',
 'national',
 'origin',
 'sexual',
 'orientation',
 'disability',
 'veteran',
 'status',
 'job',
 'type',
 'full',
 'timepay',
 'per',
 'yearbenefitsdental',
 'insuranceflexible',
 'schedulehealth',
 'insurancepaid',
 'time',
 'offvision',
 'insuranceschedule',
 'hour',
 'shiftday',
 'shiftmonday',
 'fridayeducationmasters',
 'preferredexperiencepython',
 'year',
 'preferredsql',
 'year',
 'preferreddata',
 'scientist',
 'statistician',
 'year',
 'preferredwork',
 'location',
 'remote',
 'identify',
 'relevant',
 'data',
 'source',
 'data',
 'set',
 'deliver',
 'insight',
 'analysis',
 'business',
 'decision',
 'making',
 'source',
 'cleanse',
 'verify',
 'data']

In [329]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(strip_accents='unicode', analyzer='word', ngram_range=(1,3), norm='l2')
vectorizer.fit_transform(data.cleaned)

<1026x63998 sparse matrix of type '<class 'numpy.float64'>'
	with 1452109 stored elements in Compressed Sparse Row format>

In [330]:
feature_names = vectorizer.get_feature_names()
feature_names

['ab',
 'ab experiments',
 'ab experiments to',
 'ab tests',
 'ab tests to',
 'abide',
 'abide by',
 'abide by the',
 'abilities',
 'abilities and',
 'abilities and competenciesattracts',
 'abilities and experiences',
 'abilities andor',
 'abilities andor proven',
 'abilities great',
 'abilities great communication',
 'abilities grounded',
 'abilities grounded in',
 'abilities required',
 'abilities required include',
 'abilities requirementability',
 'abilities requirementability to',
 'abilities so',
 'abilities so if',
 'abilities strong',
 'abilities strong communication',
 'abilities typically',
 'abilities typically acquired',
 'abilities up',
 'abilities up to',
 'ability',
 'ability for',
 'ability for complex',
 'ability in',
 'ability in an',
 'ability modern',
 'ability modern hire',
 'ability to',
 'ability to adjust',
 'ability to apply',
 'ability to break',
 'ability to build',
 'ability to clearly',
 'ability to collect',
 'ability to communicate',
 'ability to conduct',
 'ability to create',
 'ability to deliver',
 'ability to design',
 'ability to drive',
 'ability to effectively',
 'ability to efficiently',
 'ability to empathize',
 'ability to exchange',
 'ability to execute',
 'ability to exercise',
 'ability to explain',
 'ability to extract',
 'ability to facilitate',
 'ability to formulate',
 'ability to give',
 'ability to handle',
 'ability to leap',
 'ability to learn',
 'ability to manage',
 'ability to meet',
 'ability to move',
 'ability to navigate',
 'ability to own',
 'ability to pragmatically',
 'ability to present',
 'ability to prioritize',
 'ability to provide',
 'ability to query',
 'ability to quickly',
 'ability to research',
 'ability to start',
 'ability to synthesize',
 'ability to think',
 'ability to thrive',
 'ability to tolerate',
 'ability to translate',
 'ability to understand',
 'ability to use',
 'ability to work',
 'ability to write',
 'able',
 'able to',
 'able to analyze',
 'able to answer',
 'able to break',
 'able to conduct',
 'able to do',
 'able to docontribute',
 'able to enforce',
 'able to identify',
 'able to incept',
 'able to lift',
 'able to look',
 'able to multi',
 'able to offer',
 'able to perform',
 'able to support',
 'able to take',
 'able to translate',
 'able to work',
 'about',
 'about accommodations',
 'about accommodations please',
 'about acr',
 'about acr rewarding',
 'about another',
 'about another gadget',
 'about around',
 'about around here',
 'about available',
 'about available benefits',
 'about building',
 'about building and',
 'about building products',
 'about business',
 'about business problems',
 'about business unit',
 'about cloud',
 'about cloud based',
 'about communicating',
 'about communicating with',
 'about contributing',
 'about contributing to',
 'about data',
 'about data you',
 'about datastream',
 'about datastream insurance',
 'about doing',
 'about doing every',
 'about eab',
 'about eab at',
 'about emerge',
 'about emerge emerge',
 'about generalist',
 'about generalist approach',
 'about how',
 'about how data',
 'about ibm',
 'about ibm ibm',
 'about itwork',
 'about itwork with',
 'about lumen',
 'about lumen network',
 'about lumenlumen',
 'about lumenlumen is',
 'about making',
 'about making big',
 'about making health',
 'about manifoldmanifold',
 'about manifoldmanifold is',
 'about minutes',
 'about minutes your',
 'about new',
 'about new areas',
 'about on',
 'about on rareoccasions',
 'about opalopal',
 'about opalopal is',
 'about our',
 'about our bonus',
 'about our client',
 'about our commitment',
 'about our data',
 'about our engineering',
 'about our flexible',
 'about our organization',
 'about our promise',
 'about our promiseat',
 'about our total',
 'about our work',
 'about revel',
 'about revel revels',
 'about revelrevels',
 'about revelrevels mission',
 'about taking',
 'about taking away',
 'about technical',
 'about technical organizational',
 'about the',
 'about the companyxen',
 'about the ideal',
 'about the jobthe',
 'about the marathon',
 'about the positionxen',
 'about the role',
 'about the senior',
 'about this',
 'about this approach',
 'about this opportunity',
 'about this role',
 'about this this',
 'about transforming',
 'about transforming the',
 'about trove',
 'about trove recommercerecognized',
 'about understanding',
 'about understanding customer',
 'about updaterupdater',
 'about updaterupdater makes',
 'about us',
 'about us requirementsexperience',
 'about which',
 'about which population',
 'about writing',
 'about writing code',
 'about you',
 'about you you',
 'about youempathy',
 'about youempathy you',
 'about youyou',
 'about youyou are',
 'above',
 'above are',
 'above are in',
 'above in',
 'above in statistics',
 'above job',
 'above job definition',
 'above preferred',
 'above preferred years',
 'above statements',
 'above statements are',
 'aboveexperience',
 'aboveexperience and',
 'aboveexperience and knowledge',
 'abovethis',
 'abovethis position',
 'abovethis position has',
 'abreast',
 'abreast of',
 'abreast of developments',
 'abreast of industry',
 'absent',
 'absent undue',
 'absent undue hardship',
 'absolutely',
 'absolutely required',
 'absolutely required about',
 'abundance',
 'abundance of',
 'abundance of one',
 'abuse',
 'abuse what',
 'abuse what you',
 'abuse with',
 'abuse with minimal',
 'academia',
 'academia and',
 'academia and with',
 'academic',
 'academic experience',
 'academic experience in',
 'academic journals',
 'academic journals of',
 'academic or',
 'academic or industry',
 'academic projects',
 'academic projects may',
 'accel',
 'accel dfj',
 'accel dfj and',
 'accel our',
 'accel our company',
 'accelerate',
 'accelerate ev',
 'accelerate ev adoption',
 'accelerate our',
 'accelerate our ai',
 'accelerate progress',
 'accelerate progress and',
 'accelerate the',
 'accelerate the development',
 'accelerate the used',
 'accelerate your',
 'accelerate your career',
 'accelerated',
 'accelerated by',
 'accelerated by technologies',
 'accelerating',
 'accelerating long',
 'accelerating long term',
 'accelerator',
 'accelerator gaia',
 'accelerator gaia is',
 'accept',
 'accept agency',
 'accept agency resumes',
 'accept differences',
 'accept differences we',
 'accept documented',
 'accept documented proof',
 'accept experience',
 'accept experience gained',
 'accept unsolicited',
 'accept unsolicited agency',
 'acceptable',
 'acceptable proof',
 'acceptable proof of',
 'accepted',
 'accepted bypeer',
 'accepted bypeer review',
 'access',
 'access and',
 'access and other',
 'access charge',
 'access charge integrity',
 'access feature',
 'access feature data',
 'access from',
 'access from highway',
 'access patterns',
 'access patterns and',
 'access patterns working',
 'access skills',
 'access skills ability',
 'access to',
 'access to collins',
 'access to digital',
 'access to pool',
 'access to weeks',
 'accessible',
 'accessible and',
 'accessible and transparent',
 'accessible healthcare',
 'accessible healthcare services',
 'accessible user',
 'accessible user interfaces',
 'accident',
 'accident insurance',
 'accident insurance critical',
 'accident insurance diversity',
 'accident insurance employee',
 'accommodate',
 'accommodate the',
 'accommodate the hiring',
 'accommodate work',
 'accommodate work from',
 'accommodated',
 'accommodated strategy',
 'accommodated strategy for',
 'accommodation',
 'accommodation as',
 'accommodation as required',
 'accommodation compliance',
 'accommodation compliance with',
 'accommodation due',
 'accommodation due to',
 'accommodation during',
 'accommodation during the',
 'accommodation failure',
 'accommodation failure to',
 'accommodation for',
 'accommodation for religious',
 'accommodation please',
 'accommodation please contact',
 'accommodation please let',
 'accommodation to',
 'accommodation to participate',
 'accommodation to this',
 'accommodations',
 'accommodations in',
 'accommodations in accordance',
 'accommodations please',
 'accommodations please contact',
 'accommodations such',
 'accommodations such as',
 'accommodations to',
 'accommodations to participate',
 'accommodations to perform',
 'accommodations will',
 'accommodations will be',
 'accomplish',
 'accomplish more',
 'accomplish more than',
 'accomplish workexperience',
 'accomplish workexperience using',
 'accomplishments',
 'accomplishments and',
 'accomplishments and works',
 'accordance',
 'accordance with',
 'accordance with applicable',
 'according',
 'according to',
 'according to statistical',
 'accordingly',
 'accordingly with',
 'accordingly with very',
 'account',
 'account based',
 'account based threat',
 'account candidate',
 'account candidate education',
 'account creation',
 'account creation fraud',
 'account flexible',
 'account flexible spending',
 'account health',
 'account health savings',
 'account hsa',
 'account hsa flexible',
 'account life',
 'account life and',
 'account protection',
 'account protection botguard',
 'account takeover',
 'account takeover account',
 'accountabilities',
 'accountabilities may',
 'accountabilities may be',
 'accountabilities solution',
 'accountabilities solution development',
 'accountability',
 'accountability through',
 'accountability through proven',
 'accountable',
 'accountable care',
 'accountable care organization',
 'accountable for',
 'accountable for product',
 'accountable for the',
 'accountable for your',
 'accountemployee',
 'accountemployee assistance',
 'accountemployee assistance programsummer',
 'accounthealth',
 'accounthealth insurancehealth',
 'accounthealth insurancehealth savings',
 'accounthealth insurancelife',
 'accounthealth insurancelife insurancepaid',
 'accountlife',
 'accountlife insurancepaid',
 'accountlife insurancepaid time',
 'accounts',
 'accounts and',
 'accounts and various',
 'accounts for',
 'accounts for over',
 'accounts fsa',
 'accounts fsa for',
 'accounts life',
 'accounts life and',
 'accounts paid',
 'accounts paid parking',
 'accountunlimited',
 'accountunlimited pto',
 'accountunlimited pto plus',
 'accredited',
 'accredited institution',
 'accredited institution is',
 'accredited institution preferred',
 'accumulation',
 'accumulation of',
 'accumulation of health',
 'accumulation of methods',
 'accuracy',
 'accuracy and',
 'accuracy and precision',
 'accuracy demonstrates',
 'accuracy demonstrates applied',
 'accuracy of',
 'accuracy of data',
 'accuracy than',
 'accuracy than humans',
 'accuracyadept',
 'accuracyadept at',
 'accuracyadept at queries',
 'accurate',
 'accurate analysis',
 'accurate analysis and',
 'accurate and',
 'accurate and reliable',
 'accurate and unbiased',
 'accurate be',
 'accurate be an',
 'accurate data',
 'accurate data feeds',
 'accurate forecastsdetermine',
 'accurate forecastsdetermine best',
 'accurate time',
 'accurate time estimates',
 'accurately',
 'accurately defines',
 'accurately defines all',
 'accurately distributed',
 'accurately distributed followsaction',
 'accurately predict',
 'accurately predict potential',
 'achieve',
 'achieve better',
 'achieve better health',
 'achieve cost',
 'achieve cost savings',
 'achieve enterprise',
 'achieve enterprise business',
 'achieve high',
 'achieve high levels',
 'achieve predictions',
 'achieve predictions and',
 'achieve smaller',
 'achieve smaller successes',
 'achieve their',
 'achieve their dreams',
 'achieve their serious',
 'achieve this',
 'achieve this we',
 'achieve your',
 'achieve your career',
 'achievement',
 'achievement of',
 'achievement of organizational',
 'achievements',
 'achievements to',
 'achievements to their',
 'achieving',
 'achieving results',
 'achieving results comfortable',
 'aco',
 'aco operations',
 'aco operations teams',
 'aco revamping',
 'aco revamping the',
 'acoe',
 'acoe the',
 'acoe the data',
 'acquainted',
 'acquainted with',
 'acquainted with the',
 'acquire',
 'acquire necessary',
 'acquire necessary clarifications',
 'acquired',
 'acquired through',
 'acquired through the',
 'acquisition',
 'acquisition for',
 'acquisition for reverb',
 'acquisition funnel',
 'acquisition funnel to',
 'acr',
 'acr center',
 'acr center for',
 'acr is',
 'acr is seeking',
 'acr mission',
 'acr mission to',
 'acr orgabout',
 'acr orgabout acrwork',
 'acr rewarding',
 'acr rewarding employee',
 'acr study',
 'acr study initiatives',
 'acr team',
 'acr team you',
 'across',
 'across aledade',
 'across aledade to',
 'across all',
 'across all of',
 'across america',
 'across america preserve',
 'across bmo',
 'across bmo stays',
 'across borders',
 'across borders and',
 'across business',
 'across business and',
 'across cross',
 'across cross functional',
 'across directv',
 'across directv develops',
 'across disciplines',
 'across disciplines and',
 'across etsy',
 'across etsy to',
 'across five',
 'across five major',
 'across function',
 'across function marketing',
 'across functional',
 'across functional groups',
 'across functional roles',
 'across geographical',
 'across geographical climatic',
 'across knowledge',
 'across knowledge base',
 'across large',
 'across large volumes',
 'across many',
 'across many areas',
 'across many clients',
 'across most',
 'across most us',
 'across multi',
 'across multi clouds',
 'across multiple',
 'across multiple focuses',
 'across multiple projects',
 'across our',
 'across our lines',
 'across our streaming',
 'across several',
 'across several business',
 'across teams',
 'across teams at',
 'across teams have',
 'across teams to',
 'across teamsbreak',
 'across teamsbreak down',
 'across the',
 'across the board',
 'across the business',
 'across the college',
 'across the company',
 'across the country',
 'across the customer',
 'across the data',
 'across the enterprise',
 'across the entire',
 'across the globe',
 'across the internet',
 'across the organization',
 'across the organizationcontribute',
 'across the portfolio',
 'across the private',
 'across the sales',
 'across the spectrum',
 'across the united',
 'across the you',
 'across updater',
 'across updater to',
 'across updater you',
 'across various',
 'across various groups',
 'acrwork',
 'acrwork with',
 'acrwork with usacr',
 'act',
 'act ada',
 'act ada target',
 'act and',
 'act and what',
 'act as',
 'act as deep',
 'act as key',
 'act as liaison',
 'act company',
 'act company description',
 'act guidance',
 'act guidance and',
 'act httpspwc',
 'act httpspwc tocoloradoadvisoryseniormanager',
 'act love',
 'act love to',
 'act the',
 'act the following',
 'act you',
 'act you have',
 'acting',
 'acting as',
 'acting as an',
 'action',
 'action and',
 'action and encourage',
 'action and equal',
 'action develop',
 'action develop dashboards',
 'action employer',
 'action employer and',
 'action employer learn',
 'action identifies',
 'action identifies and',
 'action on',
 'action on your',
 'action presenting',
 'action presenting analysis',
 'action we',
 'action we help',
 'action we offer',
 'action work',
 'action work with',
 'actionable',
 'actionable data',
 'actionable data deliverables',
 'actionable decisions',
 'actionable decisions out',
 'actionable directions',
 'actionable directions and',
 'actionable for',
 'actionable for both',
 'actionable insights',
 'actionable insights and',
 'actionable insights that',
 'actionable results',
 'actionable results fast',
 'actionjob',
 'actionjob type',
 'actionjob type full',
 'actions',
 'actions so',
 'actions so the',
 'actions what',
 'actions what you',
 'active',
 'active engagement',
 'active engagement in',
 'active participant',
 'active participant in',
 'active project',
 'active project to',
 'active research',
 'active research committees',
 'active role',
 'active role in',
 'actively',
 'actively builds',
 'actively builds resilience',
 'actively collaborates',
 'actively collaborates with',
 'actively collaborating',
 'actively collaborating with',
 'actively develop',
 'actively develop and',
 'actively seek',
 'actively seek out',
 'actively seeking',
 'actively seeking new',
 'actively works',
 'actively works to',
 'activities',
 'activities are',
 'activities are delivering',
 'activities including',
 'activities including readiness',
 'activities of',
 'activities of other',
 'activities translating',
 'activities translating business',
 'activities up',
 'activities up to',
 'activities via',
 'activities via email',
 'activities within',
 'activities within timeframe',
 'activitiesthe',
 'activitiesthe right',
 'activitiesthe right candidate',
 'activitieswith',
 'activitieswith internal',
 'activitieswith internal team',
 'activity',
 'activity programspay',
 'activity programspay of',
 'activity support',
 'activity support business',
 'actor',
 'actor related',
 'actor related issueswhat',
 'actors',
 'actors and',
 'actors and developing',
 'actors operate',
 'actors operate be',
 'actors with',
 'actors with data',
 'acts',
 'acts as',
 'acts as the',
 'acts on',
 'acts on both',
 'actual',
 'actual incentive',
 'actual incentive opportunity',
 'actual or',
 'actual or presumed',
 'actual pay',
 'actual pay is',
 'actual salaries',
 'actual salaries will',
 'actual starting',
 'actual starting base',
 'actually',
 'actually gets',
 'actually gets fulfilled',
 'actually happen',
 'actually happen tools',
 'actually use',
 'actually use it',
 'actuarial',
 'actuarial finance',
 'actuarial finance and',
 'actuarial or',
 'actuarial or data',
 'actuarial science',
 'actuarial science or',
 'actuarial valuation',
 'actuarial valuation to',
 'acuity',
 'acuity frequently',
 'acuity frequently develop',
 'acumen',
 'acumen and',
 'acumen and ability',
 'ad',
 'ad agency',
 'ad agency or',
 'ad and',
 'ad and supplemental',
 'ad hoc',
 'ad hoc analyses',
 'ad hoc requests',
 'ad server',
 'ad server configurations',
 'ada',
 'ada target',
 'ada target will',
 'adapt',
 'adapt and',
 'adapt and identifying',
 'adaptability',
 'adaptability we',
 'adaptability we expect',
 'adaptive',
 'adaptive algorithms',
 'adaptive algorithms mobile',
 'adaptive risk',
 'adaptive risk modeling',
 'adapts',
 'adapts real',
 'adapts real time',
 'adapts to',
 'adapts to timeline',
 'add',
 'add data',
 'add data scientist',
 'add the',
 'add the information',
 'add to',
 'add to our',
 'added',
 'added as',
 'added as an',
 'adding',
 'adding new',
 'adding new sources',
 'addition',
 'addition some',
 'addition some roles',
 'addition to',
 'addition to advanced',
 'addition to base',
 'addition to competitive',
 'addition to paid',
 'addition to time',
 'addition to your',
 'addition you',
 'addition you will',
 'additional',
 'additional duties',
 'additional duties as',
 'additional environmental',
 'additional environmental job',
 'additional information',
 'additional information about',
 'additional information here',
 'additional information location',
 'additional information must',
 'additional information reverb',
 'additional information system',
 'additional information this',
 'additional information vaccine',
 'additional information whats',
 'additional job',
 'additional job tasks',
 'additional life',
 'additional life insurance',
 'additional minimum',
 'additional minimum qualificationsdemonstrated',
 'additional questions',
 'additional questions you',
 'additional skillsets',
 'additional skillsets sas',
 'additionally',
 'additionally dsc',
 'additionally dsc teams',
 'additionally the',
 'additionally the global',
 'additionally this',
 'additionally this role',
 'additionally this team',
 'address',
 'address competing',
 'address competing priorities',
 'address one',
 'address one of',
 'addressed',
 'addressed in',
 'addressed in the',
 'addresses',
 'addresses any',
 'addresses any issues',
 'addresses architecture',
 'addresses architecture and',
 'addresses potential',
 'addresses potential programming',
 'addressing',
 'addressing new',

In [331]:
count_vectorizer = TfidfVectorizer(
    analyzer="word", tokenizer=word_tokenize,
    preprocessor=None, stop_words='english', max_features=None)    

tfidf = count_vectorizer.fit_transform(data['cleaned'])

count_vectorizer.get_feature_names()

['&',
 'ab',
 'abide',
 'abilities',
 'ability',
 'able',
 'aboveexperience',
 'abovethis',
 'abreast',
 'absent',
 'absolutely',
 'abundance',
 'abuse',
 'academia',
 'academic',
 'accel',
 'accelerate',
 'accelerated',
 'accelerating',
 'accelerator',
 'accept',
 'acceptable',
 'accepted',
 'access',
 'accessible',
 'accident',
 'accommodate',
 'accommodated',
 'accommodation',
 'accommodations',
 'accomplish',
 'accomplishments',
 'accordance',
 'according',
 'accordingly',
 'account',
 'accountabilities',
 'accountability',
 'accountable',
 'accountemployee',
 'accounthealth',
 'accountlife',
 'accounts',
 'accountunlimited',
 'accredited',
 'accumulation',
 'accuracy',
 'accuracyadept',
 'accurate',
 'accurately',
 'achieve',
 'achievement',
 'achievements',
 'achieving',
 'aco',
 'acoe',
 'acquainted',
 'acquire',
 'acquired',
 'acquisition',
 'acr',
 'acrwork',
 'act',
 'acting',
 'action',
 'actionable',
 'actionjob',
 'actions',
 'active',
 'actively',
 'activities',
 'activitiesthe',
 'activitieswith',
 'activity',
 'actor',
 'actors',
 'acts',
 'actual',
 'actually',
 'actuarial',
 'acuity',
 'acumen',
 'ad',
 'ada',
 'adapt',
 'adaptability',
 'adaptive',
 'adapts',
 'add',
 'added',
 'adding',
 'addition',
 'additional',
 'additionally',
 'address',
 'addressed',
 'addresses',
 'addressing',
 'adept',
 'adhere',
 'adheres',
 'adhering',
 'adjacent',
 'adjust',
 'adjustment',
 'administration',
 'adopter',
 'adopting',
 'adoption',
 'advance',
 'advanced',
 'advancement',
 'advancements',
 'advances',
 'advancing',
 'advantage',
 'advantageexperience',
 'advantagejob',
 'advantagesdrawbackstuning',
 'adversarial',
 'adversed',
 'advertisement',
 'advise',
 'advising',
 'advisor',
 'advisors',
 'aerospace',
 'affiliate',
 'affiliated',
 'affirmative',
 'afraid',
 'age',
 'agencies',
 'agency',
 'agent',
 'agents',
 'ages',
 'aggregation',
 'aggregations',
 'aggressive',
 'agile',
 'agility',
 'agiloft',
 'agnostic',
 'ago',
 'agreed',
 'agreement',
 'agreements',
 'ahead',
 'ai',
 'aid',
 'aids',
 'aiim',
 'aim',
 'aiml',
 'aimlto',
 'aircraft',
 'airflow',
 'airflowexperience',
 'airline',
 'airlines',
 'airport',
 'airports',
 'ak',
 'alaska',
 'aledade',
 'alert',
 'alerts',
 'algorithm',
 'algorithmic',
 'algorithmimprove',
 'algorithms',
 'algorithmsdeep',
 'algorithmsdesign',
 'algorithmsexperience',
 'algorithmsimprove',
 'algorithmsstrong',
 'alias',
 'align',
 'aligned',
 'alignment',
 'alike',
 'allotted',
 'allow',
 'allowancelarge',
 'allowed',
 'allowing',
 'allows',
 'alongside',
 'alpha',
 'alter',
 'alternate',
 'amadeus',
 'amazing',
 'amazingly',
 'amazon',
 'ambiguity',
 'ambiguous',
 'ambitious',
 'america',
 'american',
 'americans',
 'americansas',
 'americas',
 'amgen',
 'amounts',
 'amplitude',
 'analyses',
 'analysing',
 'analysis',
 'analysisability',
 'analysisdemonstrated',
 'analysisexperience',
 'analysishigh',
 'analysismanagement',
 'analyst',
 'analystjob',
 'analysts',
 'analytic',
 'analytical',
 'analytically',
 'analytics',
 'analyticsdeep',
 'analyticsinfrastructure',
 'analyticsmentor',
 'analyticsmethodologies',
 'analyticsresearch',
 'analyticsskilled',
 'analyticsyou',
 'analyze',
 'analyzes',
 'analyzing',
 'ancestry',
 'anchors',
 'andbusiness',
 'andcollaboration',
 'andor',
 'andorprior',
 'andsponsor',
 'andtalented',
 'andverificationquality',
 'andworking',
 'annotated',
 'annual',
 'annually',
 'anomalies',
 'anomalous',
 'anomaly',
 'ansible',
 'answer',
 'answered',
 'answering',
 'answers',
 'ant',
 'anti',
 'anticipate',
 'anticipated',
 'anticipates',
 'anticipating',
 'anyall',
 'anytime',
 'apache',
 'apart',
 'api',
 'apis',
 'app',
 'appetite',
 'applicable',
 'applicableact',
 'applicant',
 'applicants',
 'application',
 'applications',
 'applicationshow',
 'applicationsquickly',
 'applicationsstrong',
 'applied',
 'apply',
 'applying',
 'applyto',
 'appreciate',
 'appreciative',
 'approach',
 'approachable',
 'approaches',
 'appropriate',
 'appropriateimplementation',
 'appropriately',
 'appropriateness',
 'appropriateproject',
 'approval',
 'approvaldenial',
 'approvals',
 'approved',
 'approx',
 'aptitude',
 'arboretum',
 'arcgis',
 'archetypes',
 'architect',
 'architecting',
 'architects',
 'architectural',
 'architecture',
 'architecturepreferred',
 'arcteryx',
 'area',
 'areas',
 'areasjoin',
 'areat',
 'aredocumented',
 'aregalaxe',
 'arehighlevel',
 'aren',
 'arguments',
 'ariba',
 'arising',
 'arizona',
 'arm',
 'arma',
 'arrangements',
 'array',
 'arrest',
 'arrhythmia',
 'art',
 'articles',
 'articulate',
 'articulating',
 'artificial',
 'artists',
 'ash',
 'aside',
 'ask',
 'asked',
 'asp',
 'aspect',
 'aspects',
 'aspirations',
 'aspiring',
 'assess',
 'assessment',
 'assessments',
 'asset',
 'assets',
 'assigned',
 'assignment',
 'assignments',
 'assist',
 'assistance',
 'assistancereferral',
 'assistancewellness',
 'assistant',
 'assisting',
 'assists',
 'associate',
 'associated',
 'associates',
 'association',
 'associations',
 'assume',
 'assurance',
 'assure',
 'atmosphere',
 'attachment',
 'attack',
 'attacker',
 'attacking',
 'attacks',
 'attempt',
 'attend',
 'attendance',
 'attending',
 'attendingconferences',
 'attention',
 'attentionyour',
 'attest',
 'attitude',
 'attitudeexcellent',
 'attract',
 'attracting',
 'attributes',
 'attribution',
 'attrition',
 'auction',
 'audience',
 'audiencecollaborate',
 'audiencemust',
 'audiences',
 'audiencescultivates',
 'audiencesdata',
 'audienceswork',
 'audits',
 'augment',
 'augmented',
 'aureusgroup',
 'auris',
 'austin',
 'austinsparkcognition',
 'authentic',
 'authenticate',
 'authenticityoptimizes',
 'authorization',
 'authorized',
 'autism',
 'auto',
 'automate',
 'automated',
 'automating',
 'automation',
 'automl',
 'autonomous',
 'autonomously',
 'autonomy',
 'availabilityexperiencepython',
 'available',
 'avataar',
 'average',
 'aviation',
 'avsub',
 'award',
 'awarded',
 'awards',
 'aware',
 'awareness',
 'away',
 'aws',
 'awsml',
 'azure',
 'azuregcp',
 'b',
 'ba',
 'bachelor',
 'bachelors',
 'backbone',
 'backed',
 'backend',
 'background',
 'backgroundit',
 'backgrounds',
 'backup',
 'bad',
 'balance',
 'balanced',
 'bankingfinacial',
 'bargaining',
 'barry',
 'base',
 'based',
 'basedin',
 'baseline',
 'bases',
 'bash',
 'basic',
 'basically',
 'basis',
 'bathrooms',
 'battery',
 'bayesian',
 'bear',
 'beating',
 'bed',
 'begin',
 'beginning',
 'beginnings',
 'behavior',
 'behavioral',
 'behaviors',
 'behemoth',
 'belief',
 'beliefs',
 'believe',
 'believes',
 'belonging',
 'beloweconometricsstatistical',
 'bend',
 'benefit',
 'benefits',
 'benefitscompetitive',
 'benefitsthe',
 'benefitsunlimited',
 'benefitswe',
 'bent',
 'bereavement',
 'bert',
 'best',
 'besttechnology',
 'bethesda',
 'bethespark',
 'better',
 'beverage',
 'bi',
 'bias',
 'bid',
 'bidding',
 'big',
 'bigger',
 'biggest',
 'bigquery',
 'billing',
 'billion',
 'biomarkers',
 'biomedical',
 'biopharma',
 'biosensor',
 'biosimilar',
 'biospecimen',
 'biostatistician',
 'biostatisticians',
 'biostatistics',
 'bireporting',
 'birth',
 'birthing',
 'bitbucket',
 'black',
 'blameless',
 'blockchain',
 'blog',
 'blogging',
 'blogs',
 'blogsknowledge',
 'blood',
 'bmo',
 'board',
 'bolster',
 'bonding',
 'bonds',
 'bonnie',
 'bonus',
 'bonuses',
 'bonusstock',
 'booking',
 'bookstore',
 'boosted',
 'booster',
 'boosters',
 'boosting',
 'border',
 'borders',
 'boston',
 'bot',
 'botguard',
 'bots',
 'bottlenecks',
 'boulder',
 'boundaries',
 'box',
 'brainstorming',
 'branch',
 'brand',
 'branded',
 'brands',
 'braze',
 'brazil',
 'breadth',
 'break',
 'breaking',
 'breaks',
 'breakthrough',
 'brennen',
 'bricks',
 'bricksminimum',
 'brief',
 'bright',
 'brightest',
 'brightree',
 'bring',
 'bringengineering',
 'bringing',
 'bringit',
 'brings',
 'brisbane',
 'broad',
 'broader',
 'brochures',
 'brokerages',
 'brooklyn',
 'brought',
 'browser',
 'brstatemichiganskill',
 'bs',
 'bu',
 'budget',
 'budgeting',
 'budgets',
 'build',
 'building',
 'builds',
 'built',
 'bureaus',
 'business',
 'businesses',
 'businessfunctional',
 'businessgroup',
 'businessleverage',
 'buy',
 'buyers',
 'buying',
 'byingtonupdater',
 'bypeer',
 'c',
 'ca',
 'cable',
 'cal',
 'california',
 'called',
 'calling',
 'cambium',
 'cambiumassessment',
 'campaign',
 'campaigns',
 'canada',
 'candid',
 'candidate',
 'candidatedesired',
 'candidateeducation',
 'candidateexperienced',
 'candidates',
 'cap',
 'capabilities',
 'capability',
 'capacities',
 'capacity',
 'capital',
 'capitalizing',
 'capture',
 'captured',
 'car',
 'card',
 'cardiac',
 'cardiology',
 'cards',
 'care',
 'career',
 'careers',
 'careful',
 'caregiver',
 'carrier',
 'carriers',
 'cars',
 'carve',
 'carves',
 'case',
 'cases',
 'cash',
 'casual',
 'casualty',
 'catalog',
 'catalogue',
 'categories',
 'category',
 'categorydata',
 'catered',
 'caught',
 'causal',
 'cause',
 'caused',
 'causes',
 'cdc',
 'celebrate',
 'celebrates',
 'cell',
 'center',
 'centers',
 'central',
 'centralize',
 'centrally',
 'century',
 'certain',
 'certainly',
 'certifications',
 'certificationspreferred',
 'chain',
 'challenge',
 'challenged',
 'challenges',
 'challenging',
 'champion',
 'champions',
 'chance',
 'change',
 'changed',
 'changers',
 'changes',
 'changing',
 'channels',
 'characteristic',
 'characteristics',
 'charge',
 'charging',
 'charitable',
 'chart',
 'chartered',
 'charts',
 'check',
 'checking',
 'chicago',
 'chief',
 'child',
 'childbirth',
 'chip',
 'choice',
 'choices',
 'choose',
 'choosing',
 'chris',
 'churn',
 'cicd',
 'cincinnati',
 'circular',
 'circumstances',
 'cities',
 'citizen',
 'citizenship',
 'city',
 'civil',
 'claims',
 'clara',
 'clarifications',
 'clarify',
 'clarity',
 'class',
 'classification',
 'classificationhighly',
 'clean',
 'cleaner',
 'cleaning',
 'cleans',
 'cleanse',
 'cleansing',
 'clear',
 'clearly',
 'click',
 'clicking',
 'client',
 'clients',
 'climate',
 'climatic',
 'clinical',
 'clinicians',
 'clm',
 'close',
 'closed',
 'closely',
 'closer',
 'cloud',
 'cloudera',
 'cloudexperience',
 'clouds',
 'cluster',
 'clustering',
 'clusteringsegmentation',
 'clusters',
 'cmo',
 'coaching',
 'code',
 'codebase',
 'codemodels',
 'coderpad',
 'coderpadquerying',
 'coderpads',
 'codes',
 'codework',
 'codified',
 'coding',
 'cognos',
 'cohesively',
 'cohorts',
 'collaborate',
 'collaborates',
 'collaborating',
 'collaboration',
 'collaborationcenter',
 'collaborationfully',
 'collaborations',
 'collaborative',
 'collaboratively',
 'collar',
 'colleagues',
 'colleaguesmodel',
 'collect',
 'collecting',
 'collection',
 'collections',
 'collective',
 'collectively',
 'collectors',
 'college',
 'colleges',
 'collibra',
 'collins',
 'colony',
 'color',
 'colorado',
 'coloradoconnecticutnevada',
 'colorados',
 'com',
 'comat',
 'comawards',
 'combating',
 'combination',
 'combine',
 'combines',
 'combing',
 'combining',
 'comcareers',
 'comcentric',
 'comcompanybuiltin',
 'comcompanywhy',
 'comdiversity',
 'come',
 'comencareersjob',
 'comes',
 'comfort',
 'comfortable',
 'coming',
 'command',
 'commensurate',
 'commerce',
 'commercial',
 'commercialcustomer',
 'commercialization',
 'commission',
 'commissions',
 'commitment',
 'commitments',
 'committed',
 'committees',
 'common',
 'communicate',
 'communicating',
 'communication',
 'communications',
 'communicative',
 'communicator',
 'communities',
 'community',
 'commuter',
 'commuting',
 'comnewhires',
 'comp',
 'companies',
 'companiesand',
 'company',
 'companyautonomous',
 'companys',
 'companysuccessful',
 'companyxen',
 'companyyou',
 'comparable',
 'comparators',
 'compassionate',
 'compatible',
 'compelling',
 'compensation',
 'compensationbenefits',
 'compensationfor',
 'competence',
 'competencies',
 'competenciesattracts',
 'competenciesexperience',
 'competing',
 'competition',
 'competitive',
 'competitiveadvantage',
 'competitiveness',
 'compile',
 'complementing',
 'complete',
 'completeness',
 'completes',
 'completion',
 'complex',
 'complexities',
 'complexity',
 'compliance',
 'complicated',
 'complies',
 'comply',
 'component',
 'componentautonomous',
 'components',
 'comprehend',
 'comprehensive',
 'compugain',
 'computer',
 'computermust',
 'computers',
 'computerworlds',
 'computing',
 'computingexperience',
 'computingknowledge',
 'comthe',
 'comwhy',
 'concept',
 'concepts',
 'conceptsazure',
 'conceptsexperience',
 'conceptualize',
 'concerns',
 'concise',
 'concisely',
 'conclusions',
 'concrete',
 'concurrently',
 'condition',
 'conditional',
 'conditions',
 'conditionsword',
 'conduct',
 'conducted',
 'conducting',
 'conducts',
 'conference',
 'conferences',
 'confidence',
 'confidential',
 'confidently',
 'configurating',
 'configurations',
 'configure',
 'configuring',
 'confirmed',
 'congaapttus',
 'conjunction',
 'connect',
 'connected',
 'connecticut',
 'connecticutnevada',
 'connecting',
 'connections',
 'connective',
 'connectivity',
 'connects',
 'cons',
 'consecutive',
 'consider',
 'consideration',
 'considerationsyeseducationmasters',
 'considered',
 'considering',
 'considers',
 'consistency',
 'consistent',
 'consistently',
 'consisting',
 'consolidate',
 'consolidating',
 'constantly',
 'constantlystarting',
 'constituents',
 'constraints',
 'constructive',
 'construed',
 'consult',
 'consultants',
 'consultantsales',
 'consultative',
 'consulting',
 'consume',
 'consumed',
 'consumer',
 'consumption',
 'contact',
 'contacts',
 'contain',
 'containerization',
 'content',
 'context',
 'contexts',
 'contingent',
 'continual',
 'continue',
 'continues',
 'continuous',
 'continuously',
 'continuum',
 'contract',
 'contractor',
 'contractors',
 'contractpay',
 'contracts',
 'contractsalary',
 'contribute',
 'contributes',
 'contributing',
 'contribution',
 'contributionmultiple',
 'contributions',
 'contributor',
 'contributors',
 'control',
 'conventions',
 'conversation',
 'conversations',
 'conversion',
 'convert',
 'converting',
 'convey',
 'conviction',
 'convolutional',
 ...]

In [332]:
class_train = pd.DataFrame(tfidf.todense(), columns=count_vectorizer.get_feature_names())

In [333]:
class_train

,&,ab,abide,abilities,ability,able,aboveexperience,abovethis,abreast,absent,...,youve,youyou,z,zero,zillow,zone,zonejob,zones,zw,zycus
0,0.022643,0.0,0.0,0.000000,0.024510,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
1,0.079084,0.0,0.0,0.000000,0.000000,0.018368,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
2,0.000000,0.0,0.0,0.000000,0.000000,0.077645,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
3,0.020959,0.0,0.0,0.000000,0.000000,0.029209,0.0,0.0,0.0,0.0,...,0.045164,0.0,0.0,0.0,0.0,0.000000,0.0,0.063308,0.0,0.0
4,0.193171,0.0,0.0,0.000000,0.149358,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1021,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
1022,0.057858,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
1023,0.000000,0.0,0.0,0.105205,0.060022,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
1024,0.020752,0.0,0.0,0.000000,0.022464,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
1025,0.165984,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.034678,0.0,0.000000,0.0,0.0

In [334]:
lst = []
for i in class_train.columns:
    z = sum(class_train[i])/len(data)
    lst.append(z)

In [335]:
max(lst)

0.11472935137201498

In [336]:
data

,text,0,1,2,3,4,5,6,7,8,...,162,163,164,165,166,167,168,rating,salary,cleaned
0,"job descriptiondata scientist, marketingsan di...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.649439,-0.274455,job descriptiondata scientist marketingsan die...
1,human was founded in 2012 in a brooklyn sci-fi...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.535877,-0.519643,human was founded in in a brooklyn sci fi book...
2,our maya team is expanding and we are looking ...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.451457,-0.398769,our maya team is expanding and we are looking ...
3,what's the opportunity?recurrent is on a missi...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-1.451457,-0.482839,whats the opportunityrecurrent is on a mission...
4,fractal analytics is a strategic ai partner to...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.451457,-0.350358,fractal analytics is a strategic ai partner to...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1021,"at directv, we’re connecting the world through...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.649439,0.507654,at directv we re connecting the world through ...
1022,principal data scientist if you are a p...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.649439,-0.072312,principal data scientist if you are a principa...
1023,machine learning engineer24+ monthsclient 7-el...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.451457,-0.254822,machine learning engineer monthsclient eleven ...
1024,remote lead machine learning engineer i...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.649439,-0.164196,remote lead machine learning engineer if you a...
1025,segment: market intelligence the role: data s...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.763001,-0.534668,segment market intelligence the role data scie...

In [337]:
data.rename(columns = {'salary':'salary_main'}, inplace = True)

In [338]:
data.columns

Index(['text', '0', '1', '2', '3', '4', '5', '6', '7', '8',
       ...
       '162', '163', '164', '165', '166', '167', '168', 'rating',
       'salary_main', 'cleaned'],
      dtype='object', length=173)

In [339]:
cols = ['text','cleaned']
data.drop(cols, axis=1, inplace=True)

In [340]:
class_train

,&,ab,abide,abilities,ability,able,aboveexperience,abovethis,abreast,absent,...,youve,youyou,z,zero,zillow,zone,zonejob,zones,zw,zycus
0,0.022643,0.0,0.0,0.000000,0.024510,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
1,0.079084,0.0,0.0,0.000000,0.000000,0.018368,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
2,0.000000,0.0,0.0,0.000000,0.000000,0.077645,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
3,0.020959,0.0,0.0,0.000000,0.000000,0.029209,0.0,0.0,0.0,0.0,...,0.045164,0.0,0.0,0.0,0.0,0.000000,0.0,0.063308,0.0,0.0
4,0.193171,0.0,0.0,0.000000,0.149358,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1021,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
1022,0.057858,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
1023,0.000000,0.0,0.0,0.105205,0.060022,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
1024,0.020752,0.0,0.0,0.000000,0.022464,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
1025,0.165984,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.034678,0.0,0.000000,0.0,0.0

In [341]:
data

,0,1,2,3,4,5,6,7,8,9,...,161,162,163,164,165,166,167,168,rating,salary_main
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.649439,-0.274455
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.535877,-0.519643
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.451457,-0.398769
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-1.451457,-0.482839
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.451457,-0.350358
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1021,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.649439,0.507654
1022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.649439,-0.072312
1023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.451457,-0.254822
1024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.649439,-0.164196
1025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.763001,-0.534668

In [342]:
final_df = data.join(class_train)
final_df

,0,1,2,3,4,5,6,7,8,9,...,youve,youyou,z,zero,zillow,zone,zonejob,zones,zw,zycus
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.045164,0.0,0.0,0.0,0.0,0.000000,0.0,0.063308,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1021,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
1022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
1023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
1024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
1025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.034678,0.0,0.000000,0.0,0.0

In [365]:



from sklearn.model_selection import train_test_split
x_train = final_df.drop('salary_main',axis=1)
y = final_df.salary_main.notna()
x_train, x_test, y_train, y_test = train_test_split(x,y, random_state=42, test_size=0.30, shuffle=True)

print(train.shape)
print(test.shape)

(718, 171)
(308, 171)

In [366]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()

In [367]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,youve,youyou,z,zero,zillow,zone,zonejob,zones,zw,zycus
1025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.034678,0.0,0.000000,0.0,0.0
514,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
644,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
239,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
319,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.075846,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
214,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
466,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
121,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.045164,0.0,0.0,0.0,0.0,0.000000,0.0,0.063308,0.0,0.0
860,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0

In [368]:
x_test

,0,1,2,3,4,5,6,7,8,9,...,youve,youyou,z,zero,zillow,zone,zonejob,zones,zw,zycus
428,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
532,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
388,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.049883
107,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.052635,0.0,0.0,0.0,0.0,0.0,0.000000
423,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
599,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
196,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
628,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
81,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.052635,0.0,0.0,0.0,0.0,0.0,0.000000

In [369]:
y_train

1025    True
514     True
644     True
239     True
319     True
        ...
330     True
214     True
466     True
121     True
860     True
Name: salary_main, Length: 718, dtype: bool

In [370]:
clf = LogisticRegression(penalty='l2', class_weight='balanced')
clf.fit(x_train, y_train)

LogisticRegression(class_weight='balanced')

In [371]:
predictions = clf.predict(x_test)

In [397]:
from sklearn.metrics import accuracy_score, hamming_loss,precision_score,recall_score,f1_score,classification_report
predictions

array([False, False,  True,  True, False, False,  True,  True, False,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True,  True,
        True, False,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False,  True,
       False,  True,  True,  True,  True,  True, False,  True,  True,
        True, False, False,  True,  True, False,  True,  True, False,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
       False,  True, False, False,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True, False,  True,  True,
       False, False,  True,  True,  True, False,  True, False,  True,
        True,  True,  True, False, False,  True, False,  True, False,
       False,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True,  True, False, False,
        True,  True, False, False,  True,  True,  True,  True,  True,
        True, False,  True, False,  True, False, False,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False, False,  True, False,  True, False,  True,
        True, False,  True, False,  True,  True,  True,  True,  True,
        True,  True])

In [398]:
print("Accuracy :",accuracy_score(y_test, predictions))

Accuracy : 0.987012987012987

In [399]:

print("Hamming loss ",hamming_loss(y_test,predictions))

Hamming loss  0.012987012987012988

In [400]:
precision = precision_score(y_test, predictions, average='micro')
recall = recall_score(y_test, predictions, average='micro')
f1 = f1_score(y_test, predictions, average='micro')

In [401]:
print("\nMicro-average quality numbers")
print("Precision: {:.4f}, Recall: {:.4f}, F1-measure: {:.4f}".format(precision, recall, f1))

Micro-average quality numbers
Precision: 0.9870, Recall: 0.9870, F1-measure: 0.9870

In [402]:
precision = precision_score(y_test, predictions, average='macro')
recall = recall_score(y_test, predictions, average='macro')
f1 = f1_score(y_test, predictions, average='macro')

In [403]:
print("\nMacro-average quality numbers")
print("Precision: {:.4f}, Recall: {:.4f}, F1-measure: {:.4f}".format(precision, recall, f1))

Macro-average quality numbers
Precision: 0.9918, Recall: 0.9710, F1-measure: 0.9809

In [404]:
print("\nClassification Report")
print (classification_report(y_test, predictions))

Classification Report
              precision    recall  f1-score   support

       False       1.00      0.94      0.97        69
        True       0.98      1.00      0.99       239

    accuracy                           0.99       308
   macro avg       0.99      0.97      0.98       308
weighted avg       0.99      0.99      0.99       308